table {
    background-color: #036;
}

td {
    background-color: white;
    padding: 10px;
}

a:link, a:visited {
    text-decoration: none;
    color: #036;
}

body {
    background-color: #9cf;
    margin: 20px;
}
